#container{
    display:grid;
    grid-template-areas:
    "he he he he"
    "ma ma ma as"
    "ma ma ma as"
    "fo fo fo fo"

}
header {
    display:flex;
    grid-area:he;

}
nav{
    display:flex;
    width: 40%;
    height: 20vh;
    background-color: blueviolet;
}
main{
    display:flex;
    grid-area:ma;

}
aside{
    display:flex;
    grid-area:as;
}
footer{
    grid-area:fo;
}